<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      <a href="https://scholar.google.com/citations?user=tDSs_kcAAAAJ&hl=en" class="ms-3 fs-5">
        <i class="ai ai-google-scholar"></i>
      </a>
      <a href="https://uni-duesseldorf.academia.edu/MatiasOstaVélez" class="ms-3 fs-5">
        <i class="ai ai-academia"></i>
      </a>
      <a href="https://www.researchgate.net/profile/Matias-Osta-Velez?ev=hdr_xprf" class="ms-3 fs-5">
        <i class="fab fa-researchgate"></i>
      </a>
    </div>
  </div>
</footer>