<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>

    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        {% assign parts = item.name | split: " [" %}
        <p>
          {{ parts[0] }}
          {% if parts.size > 1 %}
            {% assign link_text = parts[1] | remove: "]" %}
            <a href="{{ item.url }}">[{{ link_text }}]</a>
          {% endif %}
        </p>
      {% endfor %}
    {% else %}

      <h4>Books</h4>
      {% for item in site.data.publications.monographs %}
        {% assign parts = item.name | split: " [" %}
        <p>
          {{ parts[0] }}
          {% if parts.size > 1 %}
            {% assign link_text = parts[1] | remove: "]" %}
            <a href="{{ item.url }}">[{{ link_text }}]</a>
          {% endif %}
        </p>
      {% endfor %}

      <h4>Journal Articles</h4>
      {% for item in site.data.publications.journal_articles %}
        {% assign parts = item.name | split: " [" %}
        <p>
          {{ parts[0] }}
          {% if parts.size > 1 %}
            {% assign link_text = parts[1] | remove: "]" %}
            <a href="{{ item.url }}">[{{ link_text }}]</a>
          {% endif %}
        </p>
      {% endfor %}

      <h4>Book Chapters</h4>
      {% for item in site.data.publications.book_chapters %}
        {% assign parts = item.name | split: " [" %}
        <p>
          {{ parts[0] }}
          {% if parts.size > 1 %}
            {% assign link_text = parts[1] | remove: "]" %}
            <a href="{{ item.url }}">[{{ link_text }}]</a>
          {% endif %}
        </p>
      {% endfor %}

      <h4>Book Reviews</h4>
      {% for item in site.data.publications.book_reviews %}
        {% assign parts = item.name | split: " [" %}
        <p>
          {{ parts[0] }}
          {% if parts.size > 1 %}
            {% assign link_text = parts[1] | remove: "]" %}
            <a href="{{ item.url }}">[{{ link_text }}]</a>
          {% endif %}
        </p>
      {% endfor %}
      <h4>Under Review</h4>
      {% for item in site.data.publications.under_review %}
        {% assign parts = item.name | split: " [" %}
        <p>
          {{ parts[0] }}
          {% if parts.size > 1 %}
            {% assign link_text = parts[1] | remove: "]" %}
            <a href="{{ item.url }}">[{{ link_text }}]</a>
          {% endif %}
        </p>
      {% endfor %}
    {% endif %}
  </div>
</div>
